# Node modules
node_modules/

# Environment variables 
.env

# Logs & debug stuff
npm-debug.log*
yarn-debug.log*
yarn-error.log*

data/

logs/

# VSCode settings (optional)
.vscode/

# OS clutter
.DS_Store
Thumbs.db
